.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 28px;
  background-color: inherit;
}
.banner__title {
  width: 260px;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.4;
  color: #000000;
  font-weight: 700;
  margin-bottom: 30px;
}
.banner__subtitle {
  width: 260px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.8;
  color: #333333;
}

@media (min-width: 768px) {
  .banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .banner__title {
    width: 455px;
    font-size: 2.1rem;
    line-height: 1.2;
  }
  .banner__subtitle {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .banner {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
