.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  transition: 180ms;
  cursor: pointer;
}
.button--dark {
  width: 100%;
  /*height: 58px;*/
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #766357;
}
.button--dark:hover,
.button--dark:focus {
  background-color: #604e43;
}
.button--dark:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.button--accent {
  width: calc(100% - 40px - 40px);
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #81b3d2;
  border: none;
  margin: 0 auto;
}
.button--accent:hover,
.button--accent:focus {
  background-color: #669ec0;
}
.button--accent:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

@media (min-width: 768px) {
  .button--dark {
    width: 100%;
    font-size: 2.1rem;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .button--accent {
    width: 100%;
  }
}
