.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  transition: 180ms;
  cursor: pointer;
}
.button--dark {
  background-color: #766357;
}
.button--dark:hover,
.button--dark:focus {
  background-color: #604e43;
}
.button--dark:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.button--accent {
  background-color: #81b3d2;
}
.button--accent:hover,
.button--accent:focus {
  background-color: #669ec0;
}
.button--accent:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.button--search {
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 15px;
  padding-bottom: 15px;
}
.button--form {
  width: calc(100% - 40px - 40px);
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  margin: 0 auto;
}
.button--filter {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: inherit;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #ffffff;
}
.button--filter:hover {
  color: #000000;
  background-color: #ffffff;
}
.button--filter:active {
  color: rgba(0, 0, 0, 0.3);
}
.button--more {
  width: 42%;
  font-size: 1.4rem;
  padding: 8px 18px;
}
.button--book {
  width: 55%;
  font-size: 1.4rem;
  padding: 8px 22px;
}

@media (min-width: 768px) {
  .button--search {
    width: 100%;
    font-size: 2.1rem;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .button--form {
    width: 100%;
  }
  .button--filter {
    width: 138px;
    padding: 8px 35px;
  }
  .button--more {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 3px 14px;
  }
  .button--book {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 3px 17px;
  }
}
