.footer-main {
  padding-top: 20px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.footer-main--index {
  width: 100%;
}
.footer-main__hashtag {
  width: 135px;
  display: block;
  font-size: 2.1rem;
  line-height: 1.1;
  font-weight: 700;
  color: #000000;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.footer-main__html-logo {
  width: 200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.footer-main__text {
  width: 80px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2;
  color: #333333;
  margin-right: 10px;
}
.footer-main__link {
  display: block;
}
.footer-main__svg {
  width: 115px;
  height: 41px;
}
.footer-main__svg {
  fill: #231f20;
  transition: 180ms;
}
.footer-main__svg:hover {
  fill: #81b3d2;
}
.footer-main__svg:active {
  opacity: 0.3;
}
.footer-main__svg--text {
  display: none;
}

@media (min-width: 768px) {
  .footer-main {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-right: 8%;
    padding-bottom: 30px;
    padding-left: 6%;
  }
  .footer-main__hashtag {
    margin: 0;
  }
  .footer-main__hashtag {
    display: flex;
    flex-wrap: wrap;
    width: 39.5%;
    margin: 0;
    margin-top: 10px;
  }
  .footer-main__html-logo {
    display: flex;
    justify-content: flex-end;
    width: 42.8%;
  }
  .footer-main__text {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .footer-main--index {
    width: 100%;
    height: 115px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding-right: 8%;
    padding-left: 11%;
    background-color:  rgba(255, 255, 255, 0.9);
    z-index: 2;
  }
  .footer-main--static {
    position: static;
    padding-top: 30px;
    padding-right: 8%;
    padding-bottom: 30px;
    padding-left: 11%;

  }
}
