.map {
  width: 100%;
  position: relative;
  min-height: 500px;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile.jpg");
  background-color: red;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cbdda9;
}

.map__media {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: 1;
  border: 0;
}

@media (min-width: 568px) {
  .map {
    min-height: 455px;
    background-image: url("../img/bg-map-tablet.jpg");
  }
  .map__media {
    min-height: 455px;
  }
}

@media (min-width: 1200px) {
  .map {
    min-height: 595px;
    background-image: url("../img/map.jpg");
  }
  .map__media {
    min-height: 595px;
  }
}
