*, *::before, *::after {
  box-sizing: inherit;
}
* {
  padding: 0;
  margin: 0;
}
body {
  text-transform: uppercase;
  background-color: #f2f2f2;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
